﻿.dropdown-boot{
    padding:0.8%;
    border-radius:7px;
    border-color:lightgrey
}

.btn-group-spc{
    float:right;
    padding-right:50%;
    padding-top:2%
}

.padding-min{
    padding:5%;
}

.padding-bottom{
    padding-bottom:10%
}
